/* Start Variables */
.d-flex {
  display: flex;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
input,
button {
  font-family: "Oswald", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Media */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Media */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Media */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules*/
header {
  background-color: #333;
  padding: 10px 0;
}
.header-content {
  justify-content: space-between;
  align-items: center;
}
.header-content .brand-logo {
  font-size: 35px;
  text-decoration: none;
  color: white;
}
nav ul {
  list-style: none;
}
nav ul#users {
  display: none;
  align-items: center;
}
ul#users li {
  position: relative;
}
ul#users li i {
  color: white;
  cursor: pointer;
  font-size: 15px;
}
nav ul#users li .badge {
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  display: block;
  background-color: crimson;
  position: absolute;
  border-radius: 50%;
  top: -10px;
  right: -12px;
  font-size: 10px;
  line-height: 20px;
  display: none;
}
nav ul#users .carts-products {
  position: absolute;
  width: 200px;
  transform: translate(-42%, 0);
  background-color: #eaeaea;
  top: 44px;
  padding: 10px;
  border: 1px solid green;
  display: none;
}
nav ul#users .carts-products a {
  display: block;
  background-color: darkgreen;
  color: white;
  margin: 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
}
nav ul li a {
  display: block;
  color: white;
  min-width: 40px;
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
}
/* Start Form  */
.section-form .form-content {
  margin-top: 15px;
  padding: 20px;
  justify-content: center;
  background-color: cornflowerblue;
}
.section-form .form-content h2 {
  font-size: 50px;
  letter-spacing: 2px;
  color: #52057b;
}
.section-form .form-content form {
  width: 40%;
  text-align: center;
}
.section-form .form-content input {
  display: block;
  width: 100%;
  margin: 5px 0;
  height: 40px;
  border: 1px solid #ddd;
  outline: none;
}
.section-form .form-content input[type="submit"] {
  font-size: 35px;
  text-transform: uppercase;
  height: auto;
  cursor: pointer;
}
.section-form .form-content input[type="submit"]:hover {
  opacity: 0.8;
}
/* End Form  */
/* Start Product */
.content-products {
  width: 60%;
  margin: 10px 0;
}
.content-products .product-item {
  width: 100%;
  border: 1px solid #ddd;
  justify-content: space-between;
  margin-bottom: 5px;
}
.product-item-img {
  width: 25%;
  height: 150px;
  margin-right: 10px;
}
.product-item-action {
  flex: 1;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}
.product-item-action .add-to-cart {
  display: block;
  margin-left: auto;
  background-color: darkgreen;
  color: white;
  border: 0;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.product-item-action i {
  cursor: pointer;
  display: block;
  width: 20px;
  margin-left: auto;
}
/* End Product */
